{{ define "main" }}
  <div class="container">
    <div class="sidebar fixed">
      <nav>
        <ul class="site-menu">
          {{ partial "site_menu.html" . }}
        </ul>
      </nav>
    </div>

    <div class="post-content">

      <div class="section-header" id="awayto-dev-docs">
        <h1>Awayto Developer Documentation</h1>
        <ul>
          <li><a href="docs/0.1.0">0.1.0</a></li>
          <li><a href="docs/0.2.0">0.2.0</a></li>
          <li><a href="docs/0.3.0">0.3.0</a></li>
        </ul>

        <p>Check out <a href="https://awayto.exchange">Awayto.exchange</a>, which uses version 0.3.0.</p>
      </div>

      {{ partial "index.md" | markdownify }}
    
    </div>
  </div>

  {{ partial "footer.html" . }}
{{ end }}
